In [37]:
!pip install selenium

Requirement already satisfied: selenium in /opt/anaconda3/lib/python3.7/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /opt/anaconda3/lib/python3.7/site-packages (from selenium) (1.25.11)
WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the '/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [50]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
chrome = webdriver.Chrome(ChromeDriverManager().install())

#chrome = webdriver.Chrome() # executable_path="./chromedriver"

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324


[WDM] - Driver [/Users/nathan/.wdm/drivers/chromedriver/mac64/88.0.4324.96/chromedriver] found in cache

In [39]:
chrome.get("https://understat.com/league/Ligue_1")

In [40]:
import pandas as pd
search_stat = chrome.find_elements_by_id("league-chemp")
stat = [elt.text for elt in search_stat]

In [41]:
tab = stat[0].replace('\n', ',')
tab = tab.replace(' ', ',')
tab = tab.replace('+', ',+')
tab = tab.replace('-', ',-')

tab = tab.replace('Paris,Saint,Germain', 'Paris-Saint-Germain')
tab = tab.replace('Saint,-Etienne', 'Saint-Etienne')

In [42]:
tab = tab.split(',')

In [43]:
tab.insert(10, 'xG-G')
tab.insert(12, 'xGA-GA')
tab.insert(14, 'xPTS-PTS')
tab[0] = 'Pos'

In [44]:
ncol = 15
cut_list = [tab[i:i + ncol] for i in range(0, len(tab), ncol)]

In [45]:
df = pd.DataFrame(cut_list[1:], columns = cut_list[0])

In [46]:
df[['Pos', 'M', 'W', 'D', 'L', 'G', 'GA', 'PTS']] = df[['Pos', 'M', 'W', 'D', 'L', 'G', 'GA', 'PTS']].astype(int)
df[['xG', 'xG-G', 'xGA', 'xGA-GA', 'xPTS', 'xPTS-PTS']] = df[['xG', 'xG-G', 'xGA', 'xGA-GA', 'xPTS', 'xPTS-PTS']].astype(float)

In [47]:
df['reussit_index'] = - (df['xG-G']/df['M']) + (df['xGA-GA']/df['M']) - (df['xPTS-PTS']/df['M'])
df

,Pos,Team,M,W,D,L,G,GA,PTS,xG,xG-G,xGA,xGA-GA,xPTS,xPTS-PTS,reussit_index
0,1,Lille,23,15,6,2,40,15,51,31.96,-8.04,15.15,0.15,42.96,-8.04,0.705652
1,2,Lyon,23,14,7,2,47,20,49,51.32,4.32,20.78,0.78,50.73,1.73,-0.229130
2,3,Paris-Saint-Germain,23,15,3,5,53,14,48,55.62,2.62,24.99,10.99,47.38,-0.62,0.390870
3,4,Monaco,23,14,3,6,46,32,45,44.54,-1.46,24.33,-7.67,43.57,-1.43,-0.207826
4,5,Rennes,22,10,7,5,31,24,37,27.01,-3.99,19.38,-4.62,35.32,-1.68,0.047727
5,6,Metz,23,9,8,6,28,21,35,26.88,-1.12,26.30,5.30,32.06,-2.94,0.406957
6,7,Lens,23,10,5,8,34,33,35,33.77,-0.23,24.64,-8.36,38.83,3.83,-0.520000
7,8,Angers,23,10,4,9,29,34,34,26.03,-2.97,30.66,-3.34,28.32,-5.68,0.230870
8,9,Marseille,21,9,6,6,29,24,33,27.56,-1.44,25.74,1.74,30.40,-2.60,0.275238
9,10,Bordeaux,23,9,5,9,26,27,32,25.44,-0.56,31.39,4.39,28.38,-3.62,0.372609
10,11,Montpellier,23,8,5,10,35,42,29,26.86,-8.14,40.77,-1.23,26.14,-2.86,0.424783
11,12,Reims,23,7,7,9,30,31,28,23.13,-6.87,36.22,5.22,22.50,-5.50,0.764783
12,13,Brest,23,8,3,12,35,43,27,30.57,-4.43,35.14,-7.86,28.91,1.91,-0.232174
13,14,Nice,22,7,5,10,24,31,26,24.16,0.16,34.99,3.99,24.91,-1.09,0.223636
14,15,Strasbourg,23,7,4,12,32,36,25,34.81,2.81,33.03,-2.97,32.21,7.21,-0.564783
15,16,Saint-Etienne,23,5,8,10,22,36,23,26.98,4.98,30.89,-5.11,30.38,7.38,-0.759565
16,17,Nantes,23,3,10,10,22,37,19,27.64,5.64,36.61,-0.39,26.43,7.43,-0.585217
17,18,Lorient,22,5,4,13,27,43,19,26.63,-0.37,31.89,-11.11,26.03,7.03,-0.807727
18,19,Dijon,23,2,9,12,15,32,15,19.31,4.31,42.89,10.89,15.83,0.83,0.250000
19,20,Nimes,22,4,3,15,17,47,15,20.01,3.01,44.47,-2.53,16.11,1.11,-0.302273

In [48]:
df.to_csv('understatL1.csv')

In [49]:
chrome.close()