In [6]:
import pandas as pd
import pymongo
from pymongo import MongoClient

In [24]:
client = pymongo.MongoClient('127.0.0.1', 27017) # Python sur VSCode en local utilisé pendant le projet
#client = pymongo.MongoClient('mongo')
database = client['exercices']
collection_coteL1 = database['coteL1']

In [25]:
df_cote_L1 = pd.read_csv('coteL1.csv', index_col=0)

In [26]:
df_cote_L1

,Date,Home_Team,Away Team,Home Team Win,Draw,Away Team Win
0,6 févr. 17:00,Lorient,Reims,2.60,3.35,2.88
1,6 févr. 19:00,Lyon,Strasbourg,1.47,5.00,6.75
2,6 févr. 21:00,Lens,Rennes,2.78,3.30,2.65
3,7 févr. 13:00,Brest,Bordeaux,2.60,3.25,2.95
4,7 févr. 15:00,Montpellier,Dijon,1.72,3.80,5.10
5,7 févr. 15:00,Saint-Etienne,Metz,2.10,3.28,3.95
6,7 févr. 15:00,Nice,Angers,2.71,3.15,2.85
7,7 févr. 15:00,Nimes,Monaco,8.50,5.00,1.41
8,7 févr. 17:00,Nantes,Lille,4.75,3.50,1.85
9,7 févr. 21:00,Marseille,Paris-Saint-Germain,8.10,5.35,1.40
10,14 févr. 19:00,Rennes,Saint-Etienne,2.00,3.50,3.95
11,14 févr. 19:00,Angers,Nantes,2.25,3.00,3.70
12,14 févr. 19:00,Lyon,Montpellier,1.42,5.20,7.20
13,14 févr. 19:00,Metz,Strasbourg,3.25,2.95,2.55
14,14 févr. 19:00,Reims,Lens,3.25,3.00,2.50
15,14 févr. 19:00,Bordeaux,Marseille,2.80,3.30,2.63
16,14 févr. 19:00,Monaco,Lorient,1.41,5.00,7.40
17,14 févr. 19:00,Dijon,Nimes,2.35,3.50,3.10
18,14 févr. 19:00,Paris-Saint-Germain,Nice,1.18,7.90,15.00
19,14 févr. 19:00,Lille,Brest,1.55,4.20,6.25

In [27]:
cote_L1_dict = df_cote_L1.to_dict('records')

In [28]:
collection_coteL1.drop()

In [29]:
collection_coteL1.insert_many(cote_L1_dict)